body {
    padding-top: 16px;
}

#appContainer {
    display: grid;
    grid-column-gap: 16px;
    column-gap: 16px;
    
    grid-template-columns: 8fr 4fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "chute header"
        "chute uiControls"
        "footer footer";
}

@media (max-width: 768px) {
    #appContainer {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "chute"
            "uiControls"
            "footer";
    }
}

#header {
    grid-area: header;
}

#chuteContainer {
    grid-area: chute;
    display: flex;
    justify-content: center;
}

#uiControls {
    grid-area: uiControls;
}

#footer {
    grid-area: footer;
    margin-top: 16px;
}
